@import "tailwindcss";
/* 
En Tailwind V4 ya no está disponible
@tailwind base;
@tailwind components;
@tailwind utilities;

Ahora directamente se pone @import "tailwindcss"

Si querés que haga un reset (elimine todos los estilos base) se usa @import "tailwindcss/preflight"
*/


@theme {
    --color-electric-moss: #b0d80a;
    --color-laravel: #ff2d20;
    --color-ember: #ff6b3d;
}

@layer components {
    .tjb-button {
        @apply bg-electric-moss hover:bg-electric-moss/70 text-black font-semibold px-4 py-2 rounded-lg;
    }
}

/* 

a[target="_blank"]::after {
    content: '↗';
}

*/

/* USANDO LUCIDE ICONS

a[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.25em;
    background-color: currentColor;
    -webkit-mask: url('/icons/lucide-arrow-up-right.svg') no-repeat center;
    mask: url('/icons/lucide-arrow-up-right.svg') no-repeat center;
}

FIN */

a[target="_blank"]::after {
    content: "\2197";
    margin-left: 0.5em;
    font-variant-emoji: text;
}

.accent {
    background: linear-gradient(135deg, var(--laravel), orange);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}